.big {
  color: blue;
  font-size: 50px;
  font-weight: bolder;
}
.reactdiv {
  color: blue;
  border-width: medium;
  border-color: black;
  background-color: blanchedalmond;
  border-style: solid;
  padding: 10px;
}
.myclass {
  background-color: aquamarine;
  float: left;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
}
